{% extends 'index.html' %}

{% block title %}Team Credits - Firewall Reviews{% endblock %}

{% block content %}
    <div class="card">
        <h2>About</h2>
        <p>This project was developed by a group of Pamantasan ng Lungsod ng Maynila (PLM)
            Information Technology students for the course Information Assurance Security.
            This system serves as a tool to evaluate the performance of firewalls in accordance with industry standards and identify potential vulnerabilities.</p>
        <h2>Developers</h2>
        <ul class="team-row">
            <li><span class="name">Justine Ligon</span> - <span class="role">Project Lead, Backend Developer</span></li>
        </ul>
        <ul class="team-row">
            <li><span class="name">Neil Gabriel Dela Guardia</span> - <span class="role">Frontend Developer</span></li>
            <li><span class="name">Maria Isabelle Medalla</span> - <span class="role">Frontend Developer</span></li>
            <li><span class="name">Isaiah Gabriel Rafailes</span> - <span class="role">Frontend Developer</span></li>
        </ul>
        <ul class="team-row">
            <li><span class="name">Jan Aldridge Pesa</span> - <span class="role">Backend Developer</span></li>
            <li><span class="name">Maurice Carpio</span> - <span class="role">Backend Developer</span></li>
            <li><span class="name">Rysa Arianne Igcasenza</span> - <span class="role">Backend Developer</span></li>
            <li><span class="name">Nathaniel Sarte</span> - <span class="role">Backend Developer</span></li>
            <li><span class="name">Darlene Vergara</span> - <span class="role">Backend Developer</span></li>
        </ul>
    </div>
{% endblock %}
